.newsletter {
    padding: 50px 20px;
    text-align: center;
    background-color: #f9f9f9;
  }
  
  .newsletter h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  .newsletter p {
    font-size: 1rem;
    color: #777;
    margin-bottom: 40px;
  }
  
  .newsletter .form {
    display: flex;
    justify-content: center;
  }
  
  .newsletter input[type="email"] {
    padding: 10px;
    width: 300px;
    border: none;
    border-radius: 3px;
    margin-right: 10px;
  }
  
  .newsletter button {
    padding: 10px 20px;
    border: none;
    background-color: #ff4c4c;
    color: white;
    cursor: pointer;
  }
  
  .newsletter button:hover {
    background-color: #e63939;
  }
  