.offer {
    padding: 50px 20px;
    display: flex;
    justify-content: space-between;
    background-color: #f9f9f9;
    position: relative;
    text-align: left;
}
  .offer img {
    width: 100%;
    height: auto;
  }